.inner {
    animation: loader-animation 1.5s ease infinite;
}

@keyframes loader-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
